p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

button{
    width: 100px;
    height: 50px;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#finprojpage2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000; 
}

#player {
    margin: 20px 0;
}

.blck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notimg {
   justify-content: center;
}

body{
    background-image: url( "imgs-for-background/back2.jpg");
    background-image: url(imgs-for-background/back3.jpg);
    background-image: url(imgs-for-background/back4.jpg);
    background-image: url(imgs-for-background/back5.jpg);
    background-image: url(imgs-for-background/back6.jpg);
    background-image: url(imgs-for-background/back7.jpg);
    background-image: url(imgs-for-background/back8.jpg);
    background-image: url(imgs-for-background/back9.jpg);
    background-image: url(imgs-for-background/back10.jpg);
    background-image: url(imgs-for-background/back11.jpg);
    background-image: url(imgs-for-background/back12.jpg);
    background-image: url(imgs-for-background/back13.jpg);
    background-image: url(imgs-for-background/background.png);
    background-size: cover;
    background-repeat: no-repeat;

